* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}


.CryptoList {
  padding: 16px;
}

.Coin {
  margin: 0 auto;
  max-width: 500px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .125);
  border-radius: 4px;
  margin-bottom: 16px;  
}

.Coin__container {
  padding: 8px;
  display: flex;
  align-items: center;
}

.Coin__img {
  width: 64px;
  height: 64px;
}

.Coin__content {
  padding-left: 8px;
}

.Coin__title {
  margin: 0;
  font-size: 18px;
  color: rgba(0, 0, 0, .75)
}